.vs/slnx.sqlite
.vs/sdlGame/v15/ipch/AutoPCH/d0fec967308ba87e/GAMEENGINE.ipch
.vs/sdlGame/v15/ipch/AutoPCH/bdfad1e57253fbed/WALLOBJECT.ipch
sdlGame/x64/Debug/sdlGame.tlog/link.write.1.tlog
sdlGame/x64/Debug/sdlGame.tlog/link.read.1.tlog
sdlGame/x64/Debug/sdlGame.tlog/CL.write.1.tlog
.vs/sdlGame/v15/Browse.VC.opendb
.vs/sdlGame/v15/Browse.VC.db
.vs/sdlGame/v15/.suo
.vs/sdlGame/v15/ipch/AutoPCH/7d828d5143878f7d/DOOROBJECT.ipch
.vs/sdlGame/v15/ipch/AutoPCH/766dd36bf905342d/GAMEOBJECT.ipch
.vs/sdlGame/v15/ipch/AutoPCH/4d795b2e53e859bb/SDLGAME.ipch
sdlGame/x64/Debug/vc141.pdb
sdlGame/x64/Debug/vc141.idb
sdlGame/x64/Debug/sdlGame.tlog/CL.read.1.tlog
sdlGame/x64/Debug/sdlGame.tlog/CL.command.1.tlog
sdlGame/x64/Debug/sdlGame.tlog/link.command.1.tlog
